@charset "UTF-8";
/* Google font Italiano */
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
/* CSS Document */
/* mobiel */
@media screen and (min-width: 300px) and (max-width: 768px) {
    #logo {
        position: fixed;
        left: 0vw;
        top: 0vw;
        width: 50vw;
        height: 20vh;
    }
    body {
        background-image: url(../images/1050377.jpg);
        background-repeat: no-repeat;
        background-size: 350%;
        position: fixed;
    }  
}
/* tablet */
@media screen and (min-width: 768px) and (max-width: 992px){
    #logo {
        position: fixed;
        left: 0vw;
        top: 0vw;
        width: 40vw;
        height: 20vh;
    }
    body {
        background-image: url(../images/1050377.jpg);
        background-repeat: no-repeat;
        background-size: 350%;
        position: fixed;
    }  
}
/* laptop */
@media screen and (min-width: 992px) and (max-width: 1200px) {
    #logo {
        position: fixed;
        left: 0vw;
        top: 0vw;
        width: 20vw;
        height: 30vh;
    }
    body {
        background-image: url(../images/1050377.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        position: fixed;
    }  
}
/* desktop */
@media screen and (min-width: 1200px) {
    #logo {
        position: fixed;
        left: 0vw;
        top: 0vw;
        width: 20vw;
        height: 25.5vh;
    }
    body {
        background-image: url(../images/1050377.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        position: fixed;
    } 
    #navigatie {
        position: fixed;
        left: 20vw;
        background-color: #701116;
        top: 0vh;
        padding: 4.4vh;
        width: 100%;
        font-family: 'Italianno', cursive;
        font-size: 2rem;
    }
    #navigatie li {
        float: left; padding: 1vw 9vh;
    }
    li {
        list-style: none;
        float: left;
    }

    /* unvisited link */
a:link {
    color: white;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: white;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
    text-decoration: underline;
  }
  
  /* selected link */
  a:active {
    color: white;
  }
}